pmariadb-persistence/data/*
my-project/myapp/app/Config/Database.php
pmariadb-persistence/data/aria_log.00000001
pmariadb-persistence/data/aria_log_control
pmariadb-persistence/data/ib_buffer_pool
pmariadb-persistence/data/ib_logfile0
pmariadb-persistence/data/ibdata1
pmariadb-persistence/data/ibtmp1
pmariadb-persistence/data/mysql/column_stats.frm
pmariadb-persistence/data/mysql/column_stats.MAI
pmariadb-persistence/data/mysql/columns_priv.frm
pmariadb-persistence/data/mysql/columns_priv.MAI
pmariadb-persistence/data/mysql/db.frm
pmariadb-persistence/data/mysql/db.MAI
pmariadb-persistence/data/mysql/event.frm
pmariadb-persistence/data/mysql/event.MAI
pmariadb-persistence/data/mysql/func.frm
pmariadb-persistence/data/mysql/func.MAI
pmariadb-persistence/data/mysql/help_category.frm
pmariadb-persistence/data/mysql/help_category.MAI
pmariadb-persistence/data/mysql/help_keyword.frm
pmariadb-persistence/data/mysql/help_keyword.MAI
pmariadb-persistence/data/mysql/help_relation.frm
pmariadb-persistence/data/mysql/help_relation.MAI
pmariadb-persistence/data/mysql/help_topic.frm
pmariadb-persistence/data/mysql/help_topic.MAI
pmariadb-persistence/data/mysql/index_stats.frm
pmariadb-persistence/data/mysql/index_stats.MAI
pmariadb-persistence/data/mysql/innodb_index_stats.frm
pmariadb-persistence/data/mysql/innodb_table_stats.frm
pmariadb-persistence/data/mysql/plugin.frm
pmariadb-persistence/data/mysql/plugin.MAI
pmariadb-persistence/data/mysql/proc.frm
pmariadb-persistence/data/mysql/proc.MAI
pmariadb-persistence/data/mysql/procs_priv.frm
pmariadb-persistence/data/mysql/procs_priv.MAI
pmariadb-persistence/data/mysql/proxies_priv.frm
pmariadb-persistence/data/mysql/proxies_priv.MAI
pmariadb-persistence/data/mysql/roles_mapping.frm
pmariadb-persistence/data/mysql/roles_mapping.MAI
pmariadb-persistence/data/mysql/servers.frm
pmariadb-persistence/data/mysql/servers.MAI
pmariadb-persistence/data/mysql/slow_log.frm
pmariadb-persistence/data/mysql/table_stats.frm
pmariadb-persistence/data/mysql/table_stats.MAI
pmariadb-persistence/data/mysql/tables_priv.frm
pmariadb-persistence/data/mysql/tables_priv.MAI
pmariadb-persistence/data/mysql/time_zone.frm
pmariadb-persistence/data/mysql/time_zone.MAI
pmariadb-persistence/data/mysql/time_zone_leap_second.frm
pmariadb-persistence/data/mysql/time_zone_leap_second.MAI
pmariadb-persistence/data/mysql/time_zone_name.frm
pmariadb-persistence/data/mysql/time_zone_name.MAI
pmariadb-persistence/data/mysql/time_zone_transition.frm
pmariadb-persistence/data/mysql/time_zone_transition.MAI
pmariadb-persistence/data/mysql/time_zone_transition_type.frm
pmariadb-persistence/data/mysql/time_zone_transition_type.MAI
pmariadb-persistence/data/mysql/user.frm
pmariadb-persistence/data/mysql_upgrade_info
pmariadb-persistence/data/performance_schema/db.opt
